name: Python Tests

on: [push]

jobs:
  BlackTest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/checkout@v3
        with:
          repository: riuzaver/market-ci
          path: .
          token: ${{ secrets.PRIVATE_ACCESS_TOKEN }}
      - run: |
          cd ".github/actions/black"
          ls -la
      - uses: './.github/actions/black'
        name: Black test
      
  PythonTest:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    services:
      db_service:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432
    defaults:
      run:
        working-directory: ./{{cookiecutter.project_name}}
    steps:
      - uses: actions/checkout@v3
        with:
          repository: riuzaver/market-ci
          path: .
          token: ${{ secrets.PRIVATE_ACCESS_TOKEN }}
      - uses: './.github/actions/pytest'
        name: Python test
  

      

