name: Python Tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Checkout private actions
        uses: actions/checkout@v2
        with:
          repository: startupmillio/market-ci
          path: ./
          token: ${{ secrets.PRIVATE_ACCESS_TOKEN }}

      - name: Black test action
        uses: ./.github/actions/black